<div class="social">
        <a data-toggle="tooltip" title="/huaamy" data-placement="right" href="http://linkedin.com/in/huaamy">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'linkedin' %>
        </a>
        <a data-toggle="tooltip" title="/amyhua" data-placement="right" href="http://github.com/amyhua">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'github' %>
        </a>
        <a data-toggle="tooltip" title="@amyhuaster" data-placement="right" href="http://twitter.com/amyhuaster">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'twitter'%>
        </a>
        <a data-toggle="tooltip" title="/amyhua1990" data-placement="right" href="http://facebook.com/amyhua1990">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'facebook'%>
        </a>
        <a data-toggle="tooltip" title="foramyhua@gmail.com" data-placement="right" href="mailto: foramyhua@gmail.com">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'mail' %>
        </a>

      </div>
