

  <div class='full-scale'>
    <%= image_tag 'window.png', id: 'frame', class: 'background'%>
    <div class="background" id="window-view"></div>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="nav">
        <a href="#">HOME</a>
        <a href="#skills">SKILLS</a>
        <a href="#">ABOUT</a>
        <a href="#">WORK</a>
        <a href="#">CONTACT</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class=" main container" data-speed="1">
        <div class="title">
          <span class="header">AMY<br>HUA </span><br><br>
          <span class="subheader"> Full Stack Web Developer</span>
        </div>
        <div style="padding-top: 70em;"></div>
        <div class="white-box">
          <h1>Welcome!</h1>
          <p class="lead">
            Thank you for exploring my portfolio.<br><br>

            I happen to be a back-end developer with an artsy side.
            I help people build well-designed web products.
          </p>
        </div>
        <div style="padding-bottom: 40em;"></div>
        <div id="skills" style="padding-top: 8em"></div>
        <div class="section white-box">
          <h1>This portfolio has been brought to you by</h1>
          <ul class="lead two-column clearfix">
            <li>Ruby on Rails</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>ParallaxJS</li>
            <li>Git</li>
            <li>Heroku</li>
            <li>Photoshop</li>
          </ul>
        </div>
        <div style="padding-bottom: 3em;"></div>
        <div class="white-box">
          <h1>I generally also tend to use </h1>
          <ul class="lead two-column clearfix">
            <li>Coffeescript</li>
            <li>EmberJS</li>
            <li>AJAX</li>
            <li>AWS</li>
            <li>Test::Unit (TDD)</li>
            <li>RSpec (TDD)</li>
            <li>Capybara (BDD)</li>
            <li>Jasmine (BDD)</li>
          </ul>
        </div>
        <div style="padding-top: 45em;"></div>

      </div>
    </div>
    <div class="col-sm-4">
      <ul class="scene">
        <li class="layer" data-type="floating-behind" data-speed="10" data-depth="3.0"><%= image_tag 'balloon.png', id: 'balloon'%></li>
      </ul>
      <div style="padding-top: 100em;"></div>
      <ul class="scene">
        <li class="layer" data-depth="0.5">
          <div id="balloon-2">
            <%= image_tag 'balloons_7_pegs.png', class: 'has-tags'%>
            <ul class="balloon-tags left">
              <li>Coffeescript</li>
              <li>AJAX</li>
              <li>Github</li>
            </ul>
            <ul class="balloon-tags right">
              <li>EmberJS</li>
              <li>Heroku</li>
              <li>Git</li>
              <li>AWS</li>
            </ul>
          </div>
        </li>
        <li class="layer" data-depth="2.0">
          <div id="balloon-3">
            <%= image_tag 'balloons_7_pegs_m.png', id: 'balloon-3', class: 'has-tags'%>
            <ul class="balloon-tags left">
              <li>Rails</li>
              <li>CSS3</li>
              <li>HTML5</li>
            </ul>
            <ul class="balloon-tags right">
              <li>Ruby</li>
              <li>Javascript</li>
              <li>jQuery</li>
              <li>ParallaxJS</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row no-padding">
    <div class="col-md-12 no-padding">
      <%= image_tag 'daytonight.png', class: 'transition-background transition', id: 'daytonight'%>
      <div style="padding-top: 44em; background-color: #382119"></div>
      <span id="before-uchicago"></span>
      <%= image_tag 'uchicago.png', class: 'transition-background transition', id: 'uchicago'%>
    </div>
  </div>

  <div style="padding-top: 85em;"></div>

  <div class="row">
    <div class="col-sm-6">
      <div class="main container">
        <ul class="white-box">
          <li>
            <h1>Past Education</h1>
            <p class="lead">
              <span class="headline">University of Chicago 2012</span>
              Mathematics with Specialization in Economics, B.S.
              <br><br>
              <span class="headline">CodeFellows 2013</span>
              Silver & Gold Certification<br>
              Ruby on Rails Full Stack Web Development<br><br>
            </p>
          </li>
          <li>
            <p class="lead">
              This portfolio has been brought to you by<br>
              Ruby on Rails<br>
              HTML5<br>
              CSS3<br>
              Javascript<br>
              jQuery<br>
              ParallaxJS<br>
              I also develop with<br>
              Coffeescript<br>
              EmberJS<br>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div style="padding-top: 85em;"></div>


