

  <div class='full-scale'>
    <%= image_tag 'window.png', id: 'frame', class: 'background'%>
    <div class="background" id="window-view"></div>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="nav">
        <a href="#" data-link="#home">HOME</a>
        <a href="#" data-link="#skills">SKILLS</a>
        <a href="#" data-link="#about">ABOUT</a>
        <a href="#" data-link="#work">WORK</a>
        <a href="#" data-link="#contact">CONTACT</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div id="home" class="main container peek-at-next">

        <div class="title">
          <span class="header">AMY<br>HUA </span><br><br>
          <span class="subheader"> Full Stack Web Developer</span>
        </div>
        <div style="padding-top: 7em;"></div>
        <div class="title white-box" id="welcome">
          <h1>Welcome!</h1>
          <p class="lead">
            I am a Ruby on Rails developer with an artsy side.<br>
            I help people build well-designed web products.
          </p>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
        <% flash.each do |key, msg| %>
            <%= content_tag :div, msg, id: key, class: 'flash' %>
        <% end %>
        <ul class="scene">
          <li class="layer" data-depth="3.0">
            <div id="balloon">
              <%= image_tag 'balloon.png'%>
              <%= image_tag 'available_sign.png', id: 'available-sign'%>
            </div>
          </li>
        </ul>
      </div>
    </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-sm-6">
      <div class="main container">
        <div id="skills" class="white-box">
          <h1>This portfolio has been brought to you by</h1>
          <ul class="lead two-column clearfix">
            <li>Ruby on Rails</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>ParallaxJS</li>
            <li>Git</li>
            <li>Heroku</li>
            <li>Photoshop</li>
          </ul>
        </div>
        <div style="padding-bottom: 3em;"></div>
        <div class="white-box">
          <h1>I also use </h1>
          <ul class="lead two-column clearfix">
            <li>Coffeescript</li>
            <li>EmberJS</li>
            <li>AJAX</li>
            <li>AWS</li>
            <li>Test::Unit (TDD)</li>
            <li>RSpec (TDD)</li>
            <li>Capybara (BDD)</li>
            <li>Jasmine (BDD)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <ul class="scene">
        <li class="layer" data-depth="0.5">
          <div id="balloon-2">
            <%= image_tag 'balloons_7_pegs.png', class: 'has-tags'%>
            <ul class="balloon-tags left">
              <li>Coffeescript</li>
              <li>AJAX</li>
              <li>Github</li>
            </ul>
            <ul class="balloon-tags right">
              <li>EmberJS</li>
              <li>Heroku</li>
              <li>Git</li>
              <li>AWS</li>
            </ul>
          </div>
        </li>
        <li class="layer" data-depth="2.0">
          <div id="balloon-3">
            <%= image_tag 'balloons_7_pegs_m.png', id: 'balloon-3', class: 'has-tags'%>
            <ul class="balloon-tags left">
              <li>Rails</li>
              <li>CSS3</li>
              <li>HTML5</li>
            </ul>
            <ul class="balloon-tags right">
              <li>Ruby</li>
              <li>Javascript</li>
              <li>jQuery</li>
              <li>ParallaxJS</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row no-padding">
    <div class="col-md-12 no-padding">
      <%= image_tag 'daytonight.png', class: 'transition-background transition', id: 'daytonight'%>
      <div style="padding-top: 10em; background-color: #382119"></div>
      <span id="before-uchicago"></span>
      <div id="uchicago-filler" class="filler"></div>
      <%= image_tag 'uchicago.png', class: 'transition-background transition', id: 'uchicago'%>
    </div>
  </div>


  <!-- TODO: add a printer on the desk for a print preview of the resume -->
  <div class="row">
    <div class="col-sm-6">
      <div class="main container peek-at-next">
        <div id="about" class="white-box">
            <h1>About Me</h1>
            <p class="lead">
              My name is Amy Hua, and I'm a passionate 23-year-old web developer.
              I graduated
              from the <span style="color: #FF00AD">University of Chicago</span>
              in 2012 after studying a B.S. in <span style="color: #FF00AD">Mathematics with
              Specialization in Economics</span>.<br><br>
              I did 2 years of social science research assistantships in economics,
              sociology, and business. I also founded a non-profit affiliate chapter of 30-50
              volunteers and started my own freelance tutoring business.
              I look forward to eventually going
              back to school to earn a Masters in Computer Science.<br><br>

              I'm a well-rounded, hard-working, and ambitious person, and I'm guaranteed to always be
              working on something.<br><br>
          </p>
        </div>
        </div>
      </div>
    <div class="col-sm-5">
      <%= image_tag 'me.png', class: 'desk-item', id: 'me'%>
    </div>
  </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-sm-6">
      <span id="before-seattle"></span>
      <div class="main container peek-at-next">
        <div class="white-box">
          <p class="lead">
            I recently graduated from an intensive study on web development from
            <span style="color: #FF00AD">CodeFellows 2013</span> in Seattle, WA, where I found my love for
            making products through code. I'm now working on freelance work in between developing my project for a
            <span style="color: #FF00AD">virtual student debate platform</span> and searching for
            <span style="color: #FF00AD">full-time work opportunities in the startup tech space.</span>

          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-sm-6">
      <div class="main container peek-at-next">
        <div id="work" class="white-box">
          <h1>My Work</h1>
          <p class="lead">
            I'm currently building:  <br><br>
              <span style="color: #FF00AD">LivePlugin</span>: a Google Maps integrated events calendar application
              for live events in your local area.
            <br><br>
            <span style="color: #FF00AD">LDD</span>: a virtual tournament platform, forums, and evidence exchange for local high school debaters.</li>
            <br><br>
            <span style="color: #FF00AD">Eat Sumthin</span>: a reverse recipe search engine that searches by ingredients.</b></li>
            <br><br>

            See what I built <a href="http://github.com/amyhua" style="color: #FF00AD">in just a few weeks time on my GitHub.</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-sm-6">
      <div class="main container peek-at-next">
        <div id="contact" class="white-box">
          <h1>Contact Me</h1>
          <p class="lead">
            Say hello, ask me a question, or anything else!
            I'm currently open to new clients and opportunities.<br><br>
            <%= render 'contact_form' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="social">
        <a data-toggle="tooltip" title="/huaamy" data-placement="right" href="http://linkedin.com/in/huaamy">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'linkedin' %>
        </a>
        <a data-toggle="tooltip" title="/amyhua" data-placement="right" href="http://github.com/amyhua">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'github' %>
        </a>
        <a data-toggle="tooltip" title="@amyhuaster" data-placement="right" href="http://twitter.com/amyhuaster">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'twitter'%>
        </a>
        <a data-toggle="tooltip" title="/amyhua1990" data-placement="right" href="http://facebook.com/amyhua1990">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'facebook'%>
        </a>
        <a data-toggle="tooltip" title="foramyhua@gmail.com" data-placement="right" href="mailto: foramyhua@gmail.com">
          <%= image_tag 'trans.png', class: 'contact-icons', id: 'mail' %>
        </a>

      </div>

    </div>
  </div>
  <div style="padding-top: 40px"></div>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44118129-1', 'amyhua.me');
      ga('send', 'pageview');

  </script>

