<div class='full-scale'>
  <%= image_tag 'window.png', id: 'frame', class: 'background'%>

  <div class="row">
    <div class="col-xs-offset-5 col-xs-7">
      <ul class="nav">
        <li><a href="#">HOME</a></li>
        <li><a href="#">SKILLS</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">WORK</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>

  <div id="clouds"><%= image_tag 'clouds.png', class: 'background' %></div>
  <div style="position: relative; z-index: 500">
    <% (1..100).each do |i| %>
        Scrolling text <%=i%><br>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class=" main container" data-speed="1">
      <div class="title">
        <span class="header">AMY<br>HUA </span><br><br>
        <span class="subheader"> Full Stack Web Developer</span>
      </div>
      <div class="tease"></div>
      <div class="white-box">
        <h1>Welcome!</h1>
        <p class="lead">
          Thank you for exploring my portfolio.<br><br>

          I happen to be a back-end developer with an artsy side.
          I help people build well-designed web products.
        </p>
      </div>
      <div style="padding-bottom: 48em;"></div>
      <div class="white-box">
        <h1>This portfolio has been brought to you by</h1>
        <ul class="lead two-column clearfix">
          <li>Ruby on Rails</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript</li>
          <li>jQuery</li>
          <li>ParallaxJS</li>
          <li>Git</li>
          <li>Heroku</li>
          <li>Photoshop</li>
        </ul>
      </div>
      <div style="padding-bottom: 3em;"></div>
      <div class="white-box">
        <h1>I generally also tend to use </h1>
        <ul class="lead two-column clearfix">
          <li>Coffeescript</li>
          <li>EmberJS</li>
          <li>AJAX</li>
          <li>AWS</li>
          <li>Test::Unit (TDD)</li>
          <li>RSpec (TDD)</li>
          <li>Capybara (BDD)</li>
          <li>Jasmine (BDD)</li>
        </ul>
      </div>
      <div style="padding-top: 45em;"></div>

    </div>
  </div>
  <div class="col-sm-4">
    <ul class="scene">
      <li class="layer" data-type="floating-behind" data-speed="10" data-depth="3.0"><%= image_tag 'balloon.png', id: 'balloon'%></li>
    </ul>
    <div style="padding-top: 92em;"></div>
    <ul class="scene">
      <li class="layer" data-depth="0.5">
        <div id="balloon-2">
          <%= image_tag 'balloons_7_pegs.png', class: 'has-tags'%>
          <ul class="balloon-tags left">
            <li>Coffeescript</li>
            <li>AJAX</li>
            <li>Github</li>
          </ul>
          <ul class="balloon-tags right">
            <li>EmberJS</li>
            <li>Heroku</li>
            <li>Git</li>
            <li>AWS</li>
          </ul>
        </div>
      </li>
      <li class="layer" data-depth="2.0">
        <div id="balloon-3">
          <%= image_tag 'balloons_7_pegs_m.png', id: 'balloon-3', class: 'has-tags'%>
          <ul class="balloon-tags left">
            <li>Rails</li>
            <li>CSS3</li>
            <li>HTML5</li>
          </ul>
          <ul class="balloon-tags right">
            <li>Ruby</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>ParallaxJS</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    Let's Begin
  </div>
  <div class="col-md-12">


    <ul class="white-box">
      <li>
        <h1>That's that!</h1>
        <p class="lead">
          Thank you for exploring my portfolio.<br><br>

          I happen to be a back-end developer with an artsy side.
          I help people build well-designed web products.
        </p>
      </li>
      <li>
        <p class="lead">
          This portfolio has been brought to you by<br>
          Ruby on Rails<br>
          HTML5<br>
          CSS3<br>
          Javascript<br>
          jQuery<br>
          ParallaxJS<br>
          I also develop with<br>
          Coffeescript<br>
          EmberJS<br>
    </ul>
    </p>
    </li>
    </ul>
  </div>
</div>


