<div class="wrapper">
  <div class="subwrap">

    <div class="row">
      <div class="col-md-12">
            <a href="https://twitter.com/amyhuaster" class="twitter-follow-button" data-show-count="false">Follow @amyhuaster</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<% flash.each do |key, msg| %>
            <%= content_tag :div, msg, id: key, class: 'flash' %>
        <% end %>


  <div class='full-scale'>
    <%= image_tag 'window.png', id: 'frame', class: 'background'%>
    <div class="background" id="window-view"></div>
  </div>
  <%= image_tag 'me.png', class: 'desk-item', id: 'me'%>

      </div>
    </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-8">
      <div class="nav">
        <a href="#" data-link="#home">HOME</a>
        <a href="#" data-link="#skills">SKILLS</a>
        <a href="#" data-link="#about">ABOUT</a>
        <a href="#" data-link="#work">WORK</a>
        <a href="#" data-link="#contact">CONTACT</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'welcome'%>

      <div class="col-md-4">
        <ul class="scene">
          <li class="layer" data-depth="3.0">
            <div id="balloon">
              <%= image_tag 'balloon.png'%>
            </div>
          </li>
        </ul>
      </div>
    </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'skills' %>
    </div>
    <div class="col-md-5">
      <ul class="scene">
        <li class="layer" data-depth="0.5">
          <div id="balloon-2">
            <%= image_tag 'balloons_7_pegs.png', class: 'has-tags'%>
            <ul class="balloon-tags left">
              <li>Coffeescript</li>
              <li>AJAX</li>
              <li>Github</li>
            </ul>
            <ul class="balloon-tags right">
              <li>EmberJS</li>
              <li>Heroku</li>
              <li>Git</li>
              <li>AWS</li>
            </ul>
          </div>
        </li>
        <li class="layer" data-depth="2.0">
          <div id="balloon-3">
            <%= image_tag 'balloons_7_pegs_m.png', id: 'balloon-3', class: 'has-tags'%>
            <ul class="balloon-tags left">
              <li>Rails</li>
              <li>CSS3</li>
              <li>HTML5</li>
            </ul>
            <ul class="balloon-tags right">
              <li>Ruby</li>
              <li>Javascript</li>
              <li>jQuery</li>
              <li>ParallaxJS</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row no-padding">
    <div class="col-md-12 no-padding">
      <%= image_tag 'daytonight.png', class: 'transition-background transition', id: 'daytonight'%>
      <div class="horizontal" style="padding-top: 10em; background-color: #382119"></div>
      <span id="before-uchicago"></span>
      <div id="uchicago-filler" class="filler"></div>
      <%= image_tag 'uchicago.png', class: 'transition-background transition', id: 'uchicago'%>
    </div>
  </div>


  <!-- TODO: add a printer on the desk for a print preview of the resume -->
  <div class="row">
    <div class="col-md-6">
      <%= render 'about' %>
      </div>
  </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'about_current'%>

    </div>
  </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'work' %>

    </div>
  </div>

  <div class="freeSpace" style="padding-top: 50em"></div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'contact' %>
    </div>
    <div class="col-md-5">
      <%= render 'social' %>
    </div>
  </div>
  <div class="freeSpace" style="padding-top: 40px"></div>
  <div class="mobile-view" style="padding-top: 200px"></div>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44118129-1', 'amyhua.me');
      ga('send', 'pageview');

  </script>
</div>

</div>

