<%= stylesheet_link_tag "mobile", :media => "all"%>
<a href="https://twitter.com/amyhuaster" class="twitter-follow-button" data-show-count="false">Follow @amyhuaster</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <% flash.each do |key, msg| %>
            <%= content_tag :div, msg, id: key, class: 'flash' %>
        <% end %>

<%= render 'welcome'%>
<div style="text-align: center">You are accessing the mobile version.<br>This site is best viewed on a full-screen desktop.<br.<br></div>


<%= render 'skills'%>

<%= render 'about' %>

<%= render 'about_current' %>

<%= render 'work' %>

<%= render 'contact' %>

<%= render 'social' %>
