<%= image_tag 'trans.png', class: 'desk-item monitor'%>
<div id="animatedCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'trans.png', class: 'desk-item screen liveplugin'%>
    </div>
    <div class="item"><%= image_tag 'trans.png', class: 'desk-item screen fridge'%></div>
    <div class="item"><%= image_tag 'trans.png', class: 'desk-item screen ldd-1'%></div>
    <div class="item"><%= image_tag 'trans.png', class: 'desk-item screen ldd-2'%></div>
  </div>
  <a class="left carousel-control" href="#animatedCarousel" data-slide="prev">
    <%= image_tag 'chevron_left.png', class: 'arrow prev' %>
  </a>
  <a class="right carousel-control" href="#animatedCarousel" data-slide="next">
    <%= image_tag 'chevron_right.png', class: 'arrow next' %>
  </a>
</div>
